.b1{
    margin: 30px;
    border: 10px;
    background: rgb(13, 13, 14);
    padding: 8px 25px;
    color: white;
    border-radius:3px ;
}
.b1:hover{
    opacity: 0.6;
    cursor: pointer;
}
.b2{
    margin:15px;
    border: 2px solid blue;
    border-radius: 25px;
    background-color: white;
    padding: 8px 15px;
    color: blue;
    font-size: 10px;
  
}

.b2:hover{
 color: rgb(250, 247, 247);
 background-color: #fd1111;
 border:2px dashed black;
 cursor:grab;
 
}


.b3{
    margin:15px;
    border: 2px solid  rgb(247, 247, 250);
    border-radius: 10px;
    background-color: white;
    padding: 8px 15px;
    box-shadow: 0px 0px 5px  #666666 ;
    font-size: 10px;
    opacity:0.7;
}
.b3:hover{
 opacity: 1;
 border-color: rgb(139, 130, 130);
 cursor: wait;
}
.b4{
    margin:15px;
    border: 2px;
    border-radius: 20px;
    background-color: rgb(243, 243, 64);
    padding: 8px 60px;
    box-shadow: 1px 2px 5px #666666;
    opacity: 1;
    font-size: 10px;
}
.b4:hover{
    opacity: 0.7;
    box-shadow: inset 0px 0px 10px orange;
   cursor:cell;
}
